#logo-header {
    width: 36px;
    height: 36px;
}

@media (max-width: 992px) {
    #logo-header {
        width: 28px;
    }
}

.linear-bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #00000000;
    z-index: -1;
}

.title-gold {
    color: var(--bs-gold) !important;
    text-shadow: 0 -2px 20px var(--bs-dark);
    width: fit-content;
    padding: 5px 20px;
    font-size: 28px;
    font-weight: 600;
}

@media (max-width:1199px) {
    .title-gold {
        font-size: 20px;
    }
}