#count-list div {
    background-color: #d80b23;
    color: var(--bs-gold);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88px;
    height: 88px;
    font-size: 50px;
    border: 1px solid var(--bs-gold);
    box-shadow: inset 0 0 12px 2px var(--bs-dark-60);

}

@media (max-width:1199px) {
    #count-list div {
        width: 60px;
        height: 60px;
        font-size: 32px;
    }
}

#list-has-prize span {
    background: var(--bs-light-80);
    color: var(--bs-dark);
    font-weight: bold;
    border-radius: 12px;
    padding: 4px 8px;
    font-size: 18px;
}

/* Hiệu ứng hiện dần và bay nhẹ lên */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.prize-item {
    opacity: 0; /* Mặc định ẩn để chuẩn bị chạy animation */
    animation: fadeInUp 0.5s ease forwards;
    display: block; /* Hiện mỗi mã số trên 1 dòng */
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    color: #ffc107; /* Màu vàng cảnh báo của Bootstrap */
}