#count-list div {
    background-color: #d80b23;
    color: var(--bs-gold);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88px;
    height: 88px;
    font-size: 50px;
    border: 1px solid var(--bs-gold);
    box-shadow: inset 0 0 12px 2px var(--bs-dark-60);

}

@media (max-width:1199px) {
    #count-list div {
        width: 60px;
        height: 60px;
        font-size: 32px;
    }
}

#list-has-prize .prize-item {
    opacity: 0; /* Ẩn lúc đầu */
    background: var(--bs-light-80);
    color: var(--bs-dark);
    font-weight: bold;
    border-radius: 8px;
    padding: 4px;
    font-size: 12px;
    animation: prizeShow 0.3s ease forwards;
    width: 2.5vw;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
}

#list-has-prize .prize-item-lg {
    opacity: 0; /* Ẩn lúc đầu */
    background: var(--bs-light-80);
    color: var(--bs-dark);
    font-weight: bold;
    border-radius: 8px;
    padding: 4px;
    font-size: 26px;
    animation: prizeShow .5s ease forwards;
    width: 7vw;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
}

@keyframes prizeShow {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
